.price-blue-color {
  background-color: $color-blue;
}

.list-blue-item:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  position: absolute;
  top: 0;
  left: 22px;
}

.blue-btn {
  background-color: $color-blue;
  margin: auto;
  margin-top: 39px;
  margin-bottom: 40px;
}

.popular {
  background: $color-red;
  transform: rotate(45deg);
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: $color-white;
  width: 147px;
  height: 25px;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  top: 32px;
  right: -30px;
}
