@import 'variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: $color-white;
}
@import 'common.scss';
@import 'price-card.scss';
.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 115px 132px;
  height: 100vh;
  background-color: $color-dark;
}
