.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  max-width: 380px;
  max-height: 770px;
  overflow: hidden;
  background-color: $color-grey;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin: 0;
    margin-top: 33px;
    line-height: 43px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }

  &__subtitle {
    line-height: 24px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }

  &__price {
    margin-top: 33px;
    width: 100%;
    line-height: 105px;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
  }

  &__description {
    margin: 40px 26px;
    line-height: 18px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
  }

  &__options-list {
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-weight: 300;
    font-size: 15px;
    list-style-type: none;
  }

  &__options-list-item {
    position: relative;
    padding-left: 59px;
    width: 100%;
    line-height: 50px;

    &:nth-child(odd) {
      background-color: $color-dark-grey;
    }
  }
}

.price-green-color {
  background-color: $green-color;
}

.list-green-item:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  position: absolute;
  top: 0;
  left: 22px;
}

.green-btn {
  margin: auto;
  margin-top: 39px;
  margin-bottom: 40px;
  background-color: $green-color;
}

.price-blue-color {
  background-color: $color-blue;
}

.list-blue-item:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  position: absolute;
  top: 0;
  left: 22px;
}

.blue-btn {
  margin: auto;
  margin-top: 39px;
  margin-bottom: 40px;
  background-color: $color-blue;
}

.price-orange-color {
  background-color: $color-orange;
}

.list-orange-item:before {
  content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  position: absolute;
  top: 0;
  left: 22px;
}

.orange-btn {
  margin: auto;
  margin-top: 39px;
  margin-bottom: 40px;
  background-color: $color-orange;
}
